## Deliverable 2. Create a Customer Travel Destinations Map.

In [12]:
# Dependencies and Setup
import pandas as pd
import requests
import numpy as np
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [13]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/weather_data/WeatherPy_database.csv")
city_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Atuona,PF,-9.8000,-139.0333,79.70,75,4,16.37,clear sky
1,1,Vallenar,CL,-28.5708,-70.7581,63.30,63,0,2.71,clear sky
2,2,Castro,BR,-24.7911,-50.0119,58.55,97,100,9.08,overcast clouds
3,3,Bilibino,RU,68.0546,166.4372,14.61,71,100,1.45,overcast clouds
4,4,Mataura,NZ,-46.1927,168.8643,63.41,55,39,6.87,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
687,687,Kirillov,RU,59.8630,38.3813,19.89,90,100,8.32,overcast clouds
688,688,Talara,PE,-4.5772,-81.2719,71.98,85,97,16.87,overcast clouds
689,689,Beidao,CN,34.5686,105.8933,54.82,59,96,10.87,overcast clouds
690,690,San Policarpo,PH,12.1791,125.5072,81.34,76,95,11.88,moderate rain
691,691,Poronaysk,RU,49.2167,143.1167,36.73,90,100,5.97,overcast clouds

In [14]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

In [15]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Atuona,PF,-9.8000,-139.0333,79.70,75,4,16.37,clear sky
6,6,Rikitea,PF,-23.1203,-134.9692,75.24,58,7,7.56,clear sky
7,7,Booue,GA,-0.0921,11.9385,72.34,98,59,0.98,light rain
8,8,Hilo,US,19.7297,-155.0900,78.24,92,69,4.00,broken clouds
9,9,Kahului,US,20.8947,-156.4700,77.97,80,36,11.99,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
673,673,Moa,CU,20.6569,-74.9403,77.72,83,65,10.92,broken clouds
675,675,Kalawit,PH,8.0667,122.5167,76.59,91,100,1.72,light rain
683,683,Dahod,IN,22.8333,74.2667,75.78,45,5,5.97,clear sky
684,684,Lazaro Cardenas,MX,17.9583,-102.2000,74.77,70,18,7.92,few clouds
688,688,Talara,PE,-4.5772,-81.2719,71.98,85,97,16.87,overcast clouds

In [16]:
# 4a. Determine if there are any empty rows.
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [17]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df = clean_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Atuona,PF,-9.8000,-139.0333,79.70,75,4,16.37,clear sky
6,6,Rikitea,PF,-23.1203,-134.9692,75.24,58,7,7.56,clear sky
7,7,Booue,GA,-0.0921,11.9385,72.34,98,59,0.98,light rain
8,8,Hilo,US,19.7297,-155.0900,78.24,92,69,4.00,broken clouds
9,9,Kahului,US,20.8947,-156.4700,77.97,80,36,11.99,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
673,673,Moa,CU,20.6569,-74.9403,77.72,83,65,10.92,broken clouds
675,675,Kalawit,PH,8.0667,122.5167,76.59,91,100,1.72,light rain
683,683,Dahod,IN,22.8333,74.2667,75.78,45,5,5.97,clear sky
684,684,Lazaro Cardenas,MX,17.9583,-102.2000,74.77,70,18,7.92,few clouds
688,688,Talara,PE,-4.5772,-81.2719,71.98,85,97,16.87,overcast clouds

In [18]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Atuona,PF,79.70,clear sky,-9.8000,-139.0333,
6,Rikitea,PF,75.24,clear sky,-23.1203,-134.9692,
7,Booue,GA,72.34,light rain,-0.0921,11.9385,
8,Hilo,US,78.24,broken clouds,19.7297,-155.0900,
9,Kahului,US,77.97,scattered clouds,20.8947,-156.4700,
...,...,...,...,...,...,...,...
673,Moa,CU,77.72,broken clouds,20.6569,-74.9403,
675,Kalawit,PH,76.59,light rain,8.0667,122.5167,
683,Dahod,IN,75.78,clear sky,22.8333,74.2667,
684,Lazaro Cardenas,MX,74.77,few clouds,17.9583,-102.2000,
688,Talara,PE,71.98,overcast clouds,-4.5772,-81.2719,

In [19]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [20]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Atuona,PF,79.70,clear sky,-9.8000,-139.0333,Villa Enata
6,Rikitea,PF,75.24,clear sky,-23.1203,-134.9692,People ThankYou
7,Booue,GA,72.34,light rain,-0.0921,11.9385,Splendeur de l'Ã©quateur
8,Hilo,US,78.24,broken clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
9,Kahului,US,77.97,scattered clouds,20.8947,-156.4700,Maui Seaside Hotel
...,...,...,...,...,...,...,...
673,Moa,CU,77.72,broken clouds,20.6569,-74.9403,Carmen
675,Kalawit,PH,76.59,light rain,8.0667,122.5167,Ompoy Pension House
683,Dahod,IN,75.78,clear sky,22.8333,74.2667,Hotel Laxmi Inn
684,Lazaro Cardenas,MX,74.77,few clouds,17.9583,-102.2000,HOTEL QUINTA ANTIGUA
688,Talara,PE,71.98,overcast clouds,-4.5772,-81.2719,Hostal Oro Negro

In [21]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [22]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))